# Eat Safe, Love

## Notebook Set Up

In [ ]:
# Import dependencies
from pymongo import MongoClient
from pprint import pprint

In [ ]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [ ]:
# assign the uk_food database to a variable name
db = mongo['uk_food']

In [ ]:
# review the collections in our database
collection_names = db.list_collection_names()
for collection_name in collection_names:
    print(collection_name)

In [ ]:
# assign the collection to a variable
establishments = db['establishments']

## Part 3: Exploratory Analysis
Unless otherwise stated, for each question: 
* Use `count_documents` to display the number of documents contained in the result.
* Display the first document in the results using `pprint`.
* Convert the result to a Pandas DataFrame, print the number of rows in the DataFrame, and display the first 10 rows.

### 1. Which establishments have a hygiene score equal to 20?

In [ ]:
# Find the establishments with a hygiene score of 20
query ={"hygiene_score": 20}

# Use count_documents to display the number of documents in the result
count = establishments.count_documents(query)
print(f"Number of establishments with a hygiene score of 20: {count}")

# Display the first document in the results using pprint
first_document = establishments.find_one(query)
print("First document with a hygiene score of 20:")
pprint(first_document)

In [ ]:
# Convert the result to a Pandas DataFrame
result_cursor = establishments.find(query)
result_df = pd.DataFrame(list(result_cursor))

# Display the number of rows in the DataFrame
num_rows = len(result_df)
print(f"Number of rows in the DataFrame: {num_rows}")

# Display the first 10 rows of the DataFrame
print("First 10 rows of the DataFrame:")
print(result_df.head(10))

### 2. Which establishments in London have a `RatingValue` greater than or equal to 4?

In [ ]:
# Find the establishments with London as the Local Authority and has a RatingValue greater than or equal to 4.
query ={
    "LocalAuthorityName": "London",
    "RatingValue": {"$gte": 4}
}


# Use count_documents to display the number of documents in the result
count = establishments.count_documents(query)
print(f"Number of establishments in London with a RatingValue >= 4: {count}")

# Display the first document in the results using pprint
first_document = establishments.find_one(query)
print("First document matching the query:")
pprint(first_document)

In [ ]:
# Convert the result to a Pandas DataFrame
result_cursor = establishments.find(query)
result_df = pd.DataFrame(list(result_cursor))

# Display the number of rows in the DataFrame
num_rows = len(result_df)
print(f"Number of rows in the DataFrame: {num_rows}")

# Display the first 10 rows of the DataFrame
print("First 10 rows of the DataFrame:")
print(result_df.head(10))

### 3. What are the top 5 establishments with a `RatingValue` rating value of 5, sorted by lowest hygiene score, nearest to the new restaurant added, "Penang Flavours"?

In [ ]:
# Search within 0.01 degree on either side of the latitude and longitude.
# Rating value must equal 5
# Sort by hygiene score

degree_search = 0.01
latitude = 12.345
longitude = 67.890

query = {
    "Location.coordinates": {
        "$near": {
            "$geometry": {
                "type": "Point",
                "coordinates": [longitude, latitude]  
            },
            "$maxDistance": degree_search
        }
    },
    "RatingValue": 5
}

sort =  [("HygieneScore", 1)]

# Print the results
result_cursor = establishments.find(query).sort(sort).limit(5)
print("Top 5 establishments with a RatingValue of 5, sorted by lowest hygiene score and nearest to Penang Flavours:")
for result in result_cursor:
    print(result)

In [ ]:
# Convert result to Pandas DataFrame
result_cursor = establishments.find(query).sort(sort).limit(5)
result_df = pd.DataFrame(list(result_cursor))
print("Top 5 establishments as a Pandas DataFrame:")
print(result_df)

### 4. How many establishments in each Local Authority area have a hygiene score of 0?

In [ ]:
# Create a pipeline that: 
# 1. Matches establishments with a hygiene score of 0
# 2. Groups the matches by Local Authority
# 3. Sorts the matches from highest to lowest
pipeline = [
    {
        "$match": {
            "HygieneScore": 0
        }
    },
    {
        "$group": {
            "_id": "$LocalAuthorityName",
            "count": {"$sum": 1}
        }
    },
    {
        "$sort": {
            "count": -1
        }
    }
]
result = establishments.aggregate(pipeline)
result_list = list(result)

# Print the number of documents in the result
print(f"Number of documents with a hygiene score of 0: {len(result_list)}")

# Print the first 10 results
print("First 10 results:")
for i, doc in enumerate(result_list[:10], 1):
    print(f"{i}. Local Authority: {doc['_id']}, Count: {doc['count']}")

In [ ]:
# Convert the result to a Pandas DataFrame
result_df = pd.DataFrame(result_list)

# Display the number of rows in the DataFrame
num_rows = len(result_df)
print(f"Number of rows in the DataFrame: {num_rows}")

# Display the first 10 rows of the DataFrame
print("First 10 rows of the DataFrame:")
print(result_df.head(10))